API_TOKEN=your_api_token_here
ZONE_ID=your_zone_id_here
RECORD_ID=your_record_id_1,your_record_id_2
RECORD_NAME=subdomain1.example.com,subdomain2.example.com
PROXIED=false,true
CRON_INTERVAL="*/5 * * * *"
