services:
  ddns-updater:
    image: kavehbc/ddns-ip-update
    container_name: ddns-updater
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - API_TOKEN=${API_TOKEN}
      - ZONE_ID=${ZONE_ID}
      - RECORD_ID=${RECORD_ID}
      - RECORD_NAME=${RECORD_NAME}
      - PROXIED=${PROXIED:-false}
      - CRON_INTERVAL=${CRON_INTERVAL:-*/5 * * * *} # e.g., default every 5 minutes
    volumes:
      - ./log:/app/log
    restart: always
